body {background-color: beige; 
}

#comida {color: darkcyan;
    text-decoration-line: underline;
    text-align: center;
}

.titulos {color: red;
    text-decoration-line: underline;
} 

#pasos {font-size: x-large;}
#pasos {text-align: center;}

img.tamaño{
    width: 500px;
    height: 300px;
}

img.social{
    width: 100px;
    height: 100px;
}

img.grupo{
    width: 100px;
    height: 100px;
}

#logo {
    width: 100px;
    height: 100px;
}

img.facebook {
    width: 100px;
    height: 100px;
}

img.youtube {
    width: 100px;
    height: 100px;
}

.cabeza {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    
}

.logos {
    display: flex;
}

footer{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}